<section class="feature-section-11">
      <div class="container mx-auto px-20 pt-14 pb-12">
            <ul class="nav nav-tabs nav-tabs-icon flex flex-wrap list-none border-b-0 pl-0 mb-4" id="glossary-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                        <a href="#gl-tabs-accession-content" class="nav-link btn font-normal py-1.5 border border-gray-400 rounded-full active" id="gl-tabs-accession-tab" data-bs-toggle="pill" data-bs-target="#gl-tabs-accession-content" role="tab" aria-controls="gl-tabs-accession-content" aria-selected="true">Accession</a>
                  </li>
                  
                  <li class="nav-item" role="presentation">
                        <a href="#gl-tabs-acceptanceApproval-content" class="nav-link btn font-normal py-1.5 border border-gray-400 rounded-full" id="gl-tabs-acceptanceApproval-tab" data-bs-toggle="pill" data-bs-target="#gl-tabs-acceptanceApproval-content" role="tab" aria-controls="gl-tabs-acceptanceApproval-content" aria-selected="true">Acceptance or Approval</a>
                  </li>

                  <li class="nav-item" role="presentation">
                        <a href="#gl-tabs-adoption-content" class="nav-link btn font-normal py-1.5 border border-gray-400 rounded-full" id="gl-tabs-adoption-tab" data-bs-toggle="pill" data-bs-target="#gl-tabs-adoption-content" role="tab" aria-controls="gl-tabs-adoption-content" aria-selected="true">Adoption</a>
                  </li>
            </ul>
      </div>

      <div class="relative">
            <div class="container mx-auto px-20 pb-20 relative z-10">
                  <div class="tab-content bg-sky-180 p-10 text-primary rounded-lg" id="gl-tabs-content">
                        <div class="tab-pane fade show active" id="gl-tabs-accession-content" role="tabpanel" aria-labelledby="gl-tabs-accession-tab">
                              <header class="mb-3">
                                    <h3 class="h2">Accession</h3>
                              </header>

                              <div class="text-lg">
                                    <p>The procedure by which a nation becomes a Party to an agreement already in force between other nations.</p>
                              </div>
                        </div>

                        <div class="tab-pane fade show" id="gl-tabs-acceptanceApproval-content" role="tabpanel" aria-labelledby="gl-tabs-acceptanceApproval-tab">
                              <header class="mb-3">
                                    <h3 class="h2">Acceptance or Approval</h3>
                              </header>

                              <div class="text-lg">
                                    <p>The procedure by which a nation becomes a Party to an agreement already in force between other nations.</p>
                              </div>
                        </div>

                        <div class="tab-pane fade show" id="gl-tabs-adoption-content" role="tabpanel" aria-labelledby="gl-tabs-adoption-tab">
                              <header class="mb-3">
                                    <h3 class="h2">Adoption</h3>
                              </header>

                              <div class="text-lg">
                                    <p>The procedure by which a nation becomes a Party to an agreement already in force between other nations.</p>
                              </div>
                        </div>
                  </div>
            </div>

            <div class="absolute top-16 bottom-0 left-0 w-full bg-gradient-to-tl from-sky-250 to-blue-950"></div>
      </div>
</section>