<section class="page-section feature-section-12 shadow-md">
      <div class="container mx-auto px-20 pt-10 pb-6">
            <ul class="alpha-tabs nav-tabs grid grid-flow-col auto-cols-max gap-3 items-center justify-center">
                  <li class="nav-item"><a href="#" class="active nav-link btn bg-zinc-400 text-white rounded-md">A</a></li>
                  <li class="nav-item"><a href="#" class="nav-link btn bg-zinc-400 text-white rounded-md">B</a></li>
                  <li class="nav-item"><a href="#" class="nav-link btn bg-zinc-400 text-white rounded-md">C</a></li>
                  <li class="nav-item"><a href="#" class="nav-link btn bg-zinc-400 text-white rounded-md">D</a></li>
                  <li class="nav-item"><a href="#" class="nav-link btn bg-zinc-400 text-white rounded-md">E</a></li>
            </ul>
      </div>
</section>