<section class="page-section feature-section-13 bg-neutral-250 pt-3">
      <div class="container mx-auto px-20">
            <div class="flex flex-col">
                  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                              <div class="rounded-2xl overflow-hidden">
                                    <table class="min-w-full">
                                          <thead class="bg-white border-b">
                                                <tr>
                                                     
                                                      <th scope="col"
                                                            class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-350">
                                                            Treaty Name
                                                      </th>
                                                      <th scope="col"
                                                            class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-350">
                                                            Thematic Area
                                                      </th>
                                                      <th scope="col"
                                                            class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-350">
                                                            Treaty Status
                                                      </th>
                                                      <th scope="col"
                                                            class="text-xs uppercase text-gray-400 px-6 py-4 text-left">
                                                            Download
                                                      </th>
                                                     
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr class="bg-light">
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            International Convention on Maritime Search and Rescue, 1979
                                                            (SAR)
                                                      </td>    
                                                       <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Agricultural & Environmental Management Treaties
                                                      </td>                                                  
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Public Participation
                                                      </td>
                                                      <td class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                           <a href="#"><img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="Download" class="mx-auto"></a> 
                                                      </td>
                                                </tr>
                                                <tr class="bg-white">
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            International Convention on Maritime Search and Rescue, 1979
                                                            (SAR)
                                                      </td>    
                                                       <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Agricultural & Environmental Management Treaties
                                                      </td>                                                  
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Draft
                                                      </td>
                                                      <td class="px-6 py-4 text-2xl text-center font-medium text-primary"></td>
                                                </tr>
                                                <tr class="bg-light">
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            International Convention on Maritime Search and Rescue, 1979
                                                            (SAR)
                                                      </td>    
                                                       <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Agricultural & Environmental Management Treaties
                                                      </td>                                                  
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                          Cabinet Review
                                                      </td>
                                                      <td class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                      </td>
                                                </tr>
                                                <tr class="bg-white">
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            International Convention on Maritime Search and Rescue, 1979
                                                            (SAR)
                                                      </td>    
                                                       <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Agricultural & Environmental Management Treaties
                                                      </td>                                                  
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Parliamentary Review
                                                      </td>
                                                      <td class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                           <a href="#"><img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="Download" class="mx-auto"></a> 
                                                      </td>
                                                </tr>
                                                <tr class="bg-light">
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            International Convention on Maritime Search and Rescue, 1979
                                                            (SAR)
                                                      </td>    
                                                       <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Agricultural & Environmental Management Treaties
                                                      </td>                                                  
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Draft
                                                      </td>
                                                      <td class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                      </td>
                                                </tr>
                                                <tr class="bg-white">
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            International Convention on Maritime Search and Rescue, 1979
                                                            (SAR)
                                                      </td>    
                                                       <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Agricultural & Environmental Management Treaties
                                                      </td>                                                  
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           Cabinet Review
                                                      </td>
                                                      <td class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                      </td>
                                                </tr>
                                                <tr class="bg-light">
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            International Convention on Maritime Search and Rescue, 1979
                                                            (SAR)
                                                      </td>    
                                                       <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Agricultural & Environmental Management Treaties
                                                      </td>                                                  
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Cabinet Review
                                                      </td>
                                                      <td class="px-6 py-4 text-2xl text-center font-medium text-primary"> 
                                                      </td>
                                                </tr>
                                                <tr class="bg-white">
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            International Convention on Maritime Search and Rescue, 1979
                                                            (SAR)
                                                      </td>    
                                                       <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Agricultural & Environmental Management Treaties
                                                      </td>                                                  
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Public Participation
                                                      </td>
                                                      <td class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                           <a href="#"><img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="Download" class="mx-auto"></a> 
                                                      </td>
                                                </tr>
                                                <tr class="bg-light">
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            International Convention on Maritime Search and Rescue, 1979
                                                            (SAR)
                                                      </td>    
                                                       <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                            Agricultural & Environmental Management Treaties
                                                      </td>                                                  
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           Parliamentary Review
                                                      </td>
                                                      <td class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                           <a href="#"><img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="Download" class="mx-auto"></a> 
                                                      </td>
                                                </tr>
                                           
                                          </tbody>
                                    </table>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>