<section class="page-section feature-section-4 bg-blue-80">
      <div class="container mx-auto px-36 pb-16">
            <div class="js-slider">
                  <div class="swiper">
                        <div class="swiper-wrapper pt-24 pb-20">
                              <div class="swiper-slide">
                                    <div class="flex items-center justify-center">
                                          <figure class="relative w-[29rem]">
                                                <img src="@@webRoot/assets/imgs/content-images/treaties-mission.jpg" alt="Kenya Office of Treaties Mission" class="relative z-40 rounded-full">

                                                <div class="absolute top-0 left-0 w-[29rem] h-[29rem] z-30 bg-info translate-x-6 rounded-full"></div>
                                                <div class="absolute top-0 left-0 w-[29rem] h-[29rem] mt-8 z-20 bg-info/50 translate-x-10 rounded-full"></div>
                                                <div class="absolute top-0 left-0 w-[25rem] h-[25rem] -mt-5 z-10 bg-info/30 translate-x-28 rounded-full"></div>
                                          

                                          </figure>

                                          <div class="w-1/2 pl-20">
                                                <header class="text-info mb-4">
                                                      <h2>Our Mission</h2>
                                                </header>
                                                
                                                <div class="text-xl leading-8 text-primary font-semibold">
                                                      <p>To ensure effective implementation of Kenya’s International Obligations in accordance with the Constitution.</p>
                                                </div>
                                                
                                          </div>
                                    </div>
                              </div>

                              <div class="swiper-slide">
                                    <div class="flex items-center justify-center">
                                          <figure class="relative w-[29rem]">
                                                <img src="@@webRoot/assets/imgs/content-images/treaties-mission.jpg" alt="Kenya Office of Treaties Mission" class="relative z-40 rounded-full">

                                                <div class="absolute top-0 left-0 w-[29rem] h-[29rem] z-30 bg-info translate-x-6 rounded-full"></div>
                                                <div class="absolute top-0 left-0 w-[29rem] h-[29rem] mt-8 z-20 bg-info/50 translate-x-10 rounded-full"></div>
                                                <div class="absolute top-0 left-0 w-[25rem] h-[25rem] -mt-5 z-10 bg-info/30 translate-x-28 rounded-full"></div>
                                          

                                          </figure>

                                          <div class="w-1/2 pl-20">
                                                <header class="text-info mb-4">
                                                      <h2>Our Vision</h2>
                                                </header>
                                                
                                                <div class="text-xl leading-8 text-primary font-semibold">
                                                      <p>To ensure effective implementation of Kenya’s International Obligations in accordance with the Constitution.</p>
                                                </div>
                                                
                                          </div>
                                    </div>
                              </div>
                        </div>

                        <div class="flex justify-center">
                              <div class="w-[29rem]">
                                    <div class="swiper-pagination !relative !bottom-auto !left-auto pl-16 flex items-center justify-center"></div>
                              </div>
                              <div class="w-1/2"></div>
                        </div>
                  </div>
            </div>
            
      </div>
</section>