<section class="page-section feature-section-7 bg-primary">
      <div class="container mx-auto px-32 py-10">
            <div class="text-white leading-8">
                  <h2 class="h3 mb-4">Disclaimer</h2>
                  <p>While utmost care has been taken in developing the database, The Ministry of Foreign Affairs, its personnel or agents accept no liability for any loss, damage or expense arising out of, or in connection with, on any reliance or any omissions or inaccuracies in the material contained in this database. Users are therefore encouraged to rely on their own enquiries, skill and care in using the information and check with primary sources. </p>
            </div>
      </div>
</section>