<section class="page-section feature-section-6 relative">
      <div class="container mx-auto px-20 pb-24 relative z-10">
            <div class="grid grid-cols-2 gap-x-10 items-stretch">
                  <figure class="clip-path-1">
                        <img src="@@webRoot/assets/imgs/content-images/texts-for-treaties.jpg" class="object-cover h-full">
                  </figure>
                  
                  <div class="text-primary">
                        <header class="mb-4 pt-32">
                              <h2 class="h6 text-info mb-2">About Us / Overview</h2>
                              <h3 class="h2">Text of Treaties</h3>
                        </header>
                        

                        <div class="flex">
                              <div class="w-2/5 text-xl font-semibold">
                                    <p>OROT provides the treaty texts as well as links relating to the text in relevant instances. </p>
                              </div>

                              <div class="w-3/5 text-lg">
                                    <div class="border-r-1"></div>
                                    <p>However, it is not responsible for the contents or reliability of the linked websites and does not necessarily endorse the views expressed therein. </p>
                              </div>
                        </div>
                        

                        <div class="text-base mt-8 pt-8 border-t border-primary">
                              <blockquote class="border-l-2 border-primary pl-5 italic">
                                    <p>Listing should not be taken as an endorsement of any kind. OROT cannot guarantee that these links will work all the time as it has no control over the linked websites. </p>
                              </blockquote>
                              
                        </div>
                  </div>
            </div>
      </div>

      <div class="absolute left-0 top-20 bottom-0 w-full bg-gradient-to-b from-blue-250 to-blue-80"></div>
</section>