<section class="page-section feature-section-5 relative">
      <div class="container mx-auto px-32 pb-16 relative z-10">
            <div class="bg-info text-white p-16 rounded-3xl">
                  <header class="mb-10 px-4">
                        <h2 class="mb-5">Functions of the Office of Registrar of Treaties</h2>
                        <div class="text-base leading-8">
                              <p>The pivotal functions of OROT are, on the one hand, to oversee the treaty making and ratification processes of Kenya, and on the other hand, to maintain an up-to-date data-base of the treaties to which Kenya is a party. </p>
                        </div>
                  </header>

                  <div class="js-slider" data-slider-settings='{
                        "slidesPerView":2
                  }'>
                        <div class="swiper">
                              <div class="swiper-wrapper items-stretch h-auto">
                                    <div class="swiper-slide px-4 h-auto">
                                          <div class="border border-white/80 rounded-xl p-8 h-full">
                                                <header class="mb-4 pl-10 relative">
                                                      <span class="w-5 h-5 rounded-full bg-white text-primary text-xs flex items-center justify-center absolute top-0 left-0">
                                                            <i class="bi bi-chevron-right"></i>
                                                      </span>

                                                      <h4>In its first role, OROT is responsible for the procedures, both main and auxiliary, relating to the making and ratification of treaties. </h4>
                                                </header>
                                                

                                                <div class="text-base leading-8 pl-10">
                                                      This includes participating in the negotiation process of treaties to ensure that the best interest of Kenya is not only protected, but the principles of international law are also adhered to. Additionally, OROT is responsible for the preparation of formal instruments relating to signature, ratification, or accession. 
                                          
                                                </div>
                                                
                                          </div>
                                    </div>

                                    <div class="swiper-slide px-4 h-auto">
                                          <div class="border border-white/80 rounded-xl p-8 h-full">
                                                <header class="mb-4 pl-10 relative">
                                                      <span class="w-5 h-5 rounded-full bg-white text-primary text-xs flex items-center justify-center absolute top-0 left-0">
                                                            <i class="bi bi-chevron-right"></i>
                                                      </span>

                                                      <h4>It also monitors the implementation of treaties ratified by Kenya.  </h4>
                                                </header>
                                                

                                                <div class="text-base leading-8 pl-10">
                                                      In doing so, it provides Ministries, Departments and Agencies with legal advice on international treaty law, it also encourages them to observe and uphold their international obligations. Further, OROT ensures that the constitutional queries that may potentially arise out of the implementation of treaties are duly studied and cushioned.
                                          
                                                </div>
                                                
                                          </div>
                                    </div>

                                    <div class="swiper-slide px-4 h-auto">
                                          <div class="border border-white/80 rounded-xl p-8 h-full">
                                                <header class="mb-4 pl-10 relative">
                                                      <span class="w-5 h-5 rounded-full bg-white text-primary text-xs flex items-center justify-center absolute top-0 left-0">
                                                            <i class="bi bi-chevron-right"></i>
                                                      </span>

                                                      <h4>It also monitors the implementation of treaties ratified by Kenya.  </h4>
                                                </header>
                                                

                                                <div class="text-base leading-8 pl-10">
                                                      In doing so, it provides Ministries, Departments and Agencies with legal advice on international treaty law, it also encourages them to observe and uphold their international obligations. Further, OROT ensures that the constitutional queries that may potentially arise out of the implementation of treaties are duly studied and cushioned.
                                          
                                                </div>
                                                
                                          </div>
                                    </div>
                              </div>

                              <div class="mt-10 flex justify-end relative">
                                    <div class="swiper-pagination swiper-pagination-light !w-auto top-1/2 -mt-[5px] !bottom-auto !left-1/2 -translate-x-1/2 inline-flex items-center"></div>

                                    <div class="flex items-center border border-white/50 rounded-full overflow-hidden relative">
                                          <div class="swiper-button-prev w-8 h-8 relative top-auto mt-auto left-auto btn-round rounded-none bg-info text-white border-0 after:hidden">
                                                <i class="bi bi-chevron-left"></i>
                                          </div>

                                          <div class="swiper-button-next w-8 h-8 relative top-auto mt-auto right-auto btn-round rounded-none bg-info text-white border-0 after:hidden">
                                                <i class="bi bi-chevron-right"></i>
                                          </div>

                                          <span class="absolute inset-y-0 z-10 left-1/2  w-px bg-white/50"></span>
                                    </div>
                                    
                              </div>
                        </div>
                  </div>
            </div>
      </div>

      <div class="absolute left-0 top-0 w-full h-28 bg-blue-80"></div>
</section>