<section class="page-section feature-section-3">
      <div class="container mx-auto">
            <h2 class="text-center mb-16">Treaty Making & Ratification Process</h2>
      
            <div class="js-slider">
                  <div class="swiper pt-10 pb-16">
                        <div class="swiper-wrapper">

                              <div class="swiper-slide">
                                    <div class="flex justify-center h-96">
                                          <div class="flex items-center justify-center text-center text-primary bg-light relative w-60 h-60 p-8 rounded-full">
                                                <span class="btn-round bg-primary flex items-center justify-center text-center font-bold text-sm text-white absolute -top-6 left-1/2 -translate-x-1/2">
                                                      01
                                                </span>

                                                <p>Initiation by relevant MDA as prescribed by the CS Foreign Affairs</p>
                                          </div>

                                          <div class="flex items-center justify-center text-center text-primary bg-light relative w-60 h-60 p-8 rounded-full mt-auto">
                                                <span class="btn-round bg-primary flex items-center justify-center text-center font-bold text-sm text-white absolute -top-6 left-1/2 -translate-x-1/2">
                                                      02
                                                </span>

                                                <p>Submit to Cabinet for approval for negotiating mandate</p>
                                          </div>

                                          <div class="flex items-center justify-center text-center text-primary bg-light relative w-60 h-60 p-8 rounded-full">
                                                <span class="btn-round bg-primary flex items-center justify-center text-center font-bold text-sm text-white absolute -top-6 left-1/2 -translate-x-1/2">
                                                      03
                                                </span>

                                                <p>Ministry of Foreign Affairs, the MDA and the AG constitutes a Negotiating Team</p>
                                          </div>

                                          <div class="flex items-center justify-center text-center text-primary bg-light relative w-60 h-60 p-8 rounded-full mt-auto">
                                                <span class="btn-round bg-primary flex items-center justify-center text-center font-bold text-sm text-white absolute -top-6 left-1/2 -translate-x-1/2">
                                                      04
                                                </span>

                                                <p>Negotiations for proposed treaty until final agreed text</p>
                                          </div>

                                          <div class="flex items-center justify-center text-center text-primary bg-light relative w-60 h-60 p-8 rounded-full">
                                                <span class="btn-round bg-primary flex items-center justify-center text-center font-bold text-sm text-white absolute -top-6 left-1/2 -translate-x-1/2">
                                                      05
                                                </span>

                                                <p>Submits final agreed text and a report with recommendations on the negotiations to CS Foreign Affairs</p>
                                          </div>
                                    </div>
                              </div>

                              <div class="swiper-slide">
                                    <div class="flex justify-center h-96">
                                          <div class="flex items-center justify-center text-center text-primary bg-light relative w-60 h-60 p-8 rounded-full">
                                                <span class="btn-round bg-primary flex items-center justify-center text-center font-bold text-sm text-white absolute -top-6 left-1/2 -translate-x-1/2">
                                                      06
                                                </span>

                                                <p>Initiation by relevant MDA as prescribed by the CS Foreign Affairs</p>
                                          </div>

                                          <div class="flex items-center justify-center text-center text-primary bg-light relative w-60 h-60 p-8 rounded-full mt-auto">
                                                <span class="btn-round bg-primary flex items-center justify-center text-center font-bold text-sm text-white absolute -top-6 left-1/2 -translate-x-1/2">
                                                      02
                                                </span>

                                                <p>Submit to Cabinet for approval for negotiating mandate</p>
                                          </div>

                                          <div class="flex items-center justify-center text-center text-primary bg-light relative w-60 h-60 p-8 rounded-full">
                                                <span class="btn-round bg-primary flex items-center justify-center text-center font-bold text-sm text-white absolute -top-6 left-1/2 -translate-x-1/2">
                                                      03
                                                </span>

                                                <p>Ministry of Foreign Affairs, the MDA and the AG constitutes a Negotiating Team</p>
                                          </div>

                                          <div class="flex items-center justify-center text-center text-primary bg-light relative w-60 h-60 p-8 rounded-full mt-auto">
                                                <span class="btn-round bg-primary flex items-center justify-center text-center font-bold text-sm text-white absolute -top-6 left-1/2 -translate-x-1/2">
                                                      04
                                                </span>

                                                <p>Negotiations for proposed treaty until final agreed text</p>
                                          </div>

                                          <div class="flex items-center justify-center text-center text-primary bg-light relative w-60 h-60 p-8 rounded-full">
                                                <span class="btn-round bg-primary flex items-center justify-center text-center font-bold text-sm text-white absolute -top-6 left-1/2 -translate-x-1/2">
                                                      05
                                                </span>

                                                <p>Submits final agreed text and a report with recommendations on the negotiations to CS Foreign Affairs</p>
                                          </div>
                                    </div>
                              </div>
                        </div>

                        <div class="mt-10 flex justify-end relative">
                              <div class="swiper-pagination !w-auto top-1/2 -mt-[5px] !bottom-auto !left-1/2 -translate-x-1/2 inline-flex items-center"></div>

                              <div class="flex items-center">
                                    <div class="swiper-button-prev relative top-auto mt-auto left-auto btn-round bg-info text-white after:hidden">
                                          <i class="bi bi-arrow-left"></i>
                                    </div>

                                    <div class="swiper-button-next relative top-auto mt-auto right-auto btn-round bg-info text-white after:hidden ml-4">
                                          <i class="bi bi-arrow-right"></i>
                                    </div>
                              </div>
                              
                        </div>
                  </div>
            </div>
            
            
      </div>
</section>