<section class="page-section feature-section-8 relative z-40 -mt-20">
      <div class="container mx-auto px-32 relative z-10">
            <div class="bg-white p-16 rounded-3xl">
                  <header class="mb-2">
                        <h2 class="h6 text-info uppercase">About Us / Overview</h2>
                  </header>

                  <div class="text-xl leading-8 text-primary font-semibold">
                              <p>The Office of the Registrar of Treaties (OROT) is established under section 13 
and 14 of the Treaty Making and Ratification Act, 2012 (Rev 2018). </p>
                  </div>

                  <div class="mt-8 pt-8 border-t border-primary">
                        <div class="flex">
                              <div class="w-2/5">
                                    <blockquote class="border-l-4 border-info pl-5 font-semibold text-info text-lg">
                                          <p>It is a department of the Ministry of Foreign Affairs that oversees the treaty making & ratification processes of Kenya.  </p>
                                    </blockquote>
                              </div>

                              <div class="w-3/5 text-primary pl-10">
                                    <p>It is the Official custodian of records of bilateral and multilateral treaties to which Kenya is party to. It also coordinates Kenya’s responsibilities as depositary for certain treaties deposited with the Government of Kenya.</p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="absolute left-0 top-20 bottom-0 w-full bg-blue-80"></div>
</section>