<section class="page-section hero-section-2 relative">
      <figure class="h-[28rem] overflow-hidden relative">
            <img src="@@webRoot/assets/imgs/content-images/about-page-banner.jpg" class="object-cover w-full h-full relative z-10 mix-blend-multiply" alt="Treaties Database of the Republic of Kenya">

            <div class="absolute inset-0 bg-info"></div>

            <div class="absolute inset-0 z-20">
                  <div class="container mx-auto h-full">
                        <div class="flex flex-col items-center justify-center text-center h-full text-white -mt-16">
                              <h1 class="font-bold leading-tight">About Us</h1>
                        </div>
                  </div>
                  
            </div>
      </figure>
</section>