<section class="feature-section-16">
      <div class="mb-14">
            <h2 class="h3 text-primary mb-4">Treaty Text </h2>

            <div class="grid grid-cols-2 gap-x-10">
                  <a href="#" class="grid gap-x-4 grid-cols-[minmax(0,_auto)_1fr]">
                        <span class="btn bg-light flex items-center">
                              <img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="">
                        </span>

                        <div class="p-5 bg-light flex flex-col justify-center">
                              <span class="text-xs text-info font-semibold uppercase block mb-1">163 Downloads</span>

                              <span class="text-primary block text-xs uppercase">International Convention on Maritime Search & Rescue</span>

                        </div>
                        
                  </a>
            </div>
      </div>

      <div class="mb-14">
            <h2 class="h3 text-primary mb-4">Attachment(s) </h2>

            <div class="grid grid-cols-2 gap-x-10">
                  <a href="#" class="grid gap-x-4 grid-cols-[minmax(0,_auto)_1fr]">
                        <span class="btn bg-light flex items-center">
                              <img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="">
                        </span>

                        <div class="p-5 bg-light flex flex-col justify-center">
                              <span class="text-xs text-info font-semibold uppercase block mb-1">163 Downloads</span>

                              <span class="text-primary block text-xs uppercase">International Convention on Maritime Search & Rescue</span>

                        </div>
                        
                  </a>

                   <a href="#" class="grid gap-x-4 grid-cols-[minmax(0,_auto)_1fr]">
                        <span class="btn bg-light flex items-center">
                              <img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="">
                        </span>

                        <div class="p-5 bg-light flex flex-col justify-center">
                              <span class="text-xs text-info font-semibold uppercase block mb-1">163 Downloads</span>

                              <span class="text-primary block text-xs uppercase">International Convention on Maritime Search & Rescue</span>

                        </div>
                  </a>
            </div>
      </div>

      <div>
            <h2 class="h3 text-primary mb-4">Status List </h2>

            <div class="grid grid-cols-2 gap-x-10">
                  <a href="#" class="grid gap-x-4 grid-cols-[minmax(0,_auto)_1fr]">
                        <span class="btn bg-light flex items-center">
                              <img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="">
                        </span>

                        <div class="p-5 bg-light flex flex-col justify-center">
                              <span class="text-xs text-info font-semibold uppercase block mb-1">163 Downloads</span>

                              <span class="text-primary block text-xs uppercase">International Convention on Maritime Search & Rescue</span>

                        </div>
                        
                  </a>

                   <a href="#" class="grid gap-x-4 grid-cols-[minmax(0,_auto)_1fr]">
                        <span class="btn bg-light flex items-center">
                              <img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="">
                        </span>

                        <div class="p-5 bg-light flex flex-col justify-center">
                              <span class="text-xs text-info font-semibold uppercase block mb-1">163 Downloads</span>

                              <span class="text-primary block text-xs uppercase">International Convention on Maritime Search & Rescue</span>

                        </div>
                  </a>
            </div>
      </div>
</section>