<section class="page-section accordion-section-2 relative">
      <div class="container mx-auto px-20 relative z-10">
            <div class="bg-blue-250 p-10 rounded-3xl mb-16">
                  <div class="grid grid-cols-3 gap-x-6 items-stretch">
                        <div class="accordion accordion-flush accordion-light" id="faqSingle1">
                              <div class="accordion-item border-t-0 border-l-0 border-r-0 !rounded-lg overflow-hidden !bg-sky-350 border border-sky-350">
                                    <h2 class="accordion-header mb-0" id="faqSingle1-heading">
                                          <button
                                                class="accordion-button relative flex items-center w-full py-4 px-5 text-base !text-white text-left bg-transparent border-0 !rounded-none transition focus:outline-none"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#faqSingle1-collapse" aria-expanded="false"
                                                aria-controls="faqSingle1-collapse">
                                                What is a contracting party?
                                          </button>
                                    </h2>
                                    <div id="faqSingle1-collapse" class="accordion-collapse border-0 collapse text-white/80"
                                          aria-labelledby="faqSingle1-heading" data-bs-parent="#faqSingle1">
                                          <div class="accordion-body py-4 px-5">
                                                Placeholder content for this accordion, which is intended to
                                                demonstrate the <code>.accordion-flush</code> class. This is the
                                                first item's accordion body.
                                          </div>
                                    </div>
                              </div>
                        </div>

                        <div class="accordion accordion-flush accordion-light" id="faqSingle2">
                              <div class="accordion-item border-t-0 border-l-0 border-r-0 !rounded-lg overflow-hidden !bg-sky-350 border border-sky-350">
                                    <h2 class="accordion-header mb-0" id="faqSingle2-heading">
                                          <button
                                                class="accordion-button relative flex items-center w-full py-4 px-5 text-base !text-white text-left bg-transparent border-0 !rounded-none transition focus:outline-none"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#faqSingle2-collapse" aria-expanded="false"
                                                aria-controls="faqSingle2-collapse">
                                                What is Signature?
                                          </button>
                                    </h2>
                                    <div id="faqSingle2-collapse" class="accordion-collapse border-0 collapse text-white/80"
                                          aria-labelledby="faqSingle2-heading" data-bs-parent="#faqSingle2">
                                          <div class="accordion-body py-4 px-5">
                                                Placeholder content for this accordion, which is intended to
                                                demonstrate the <code>.accordion-flush</code> class. This is the
                                                first item's accordion body.
                                          </div>
                                    </div>
                              </div>
                        </div>

                        <div class="accordion accordion-flush accordion-light" id="faqSingle3">
                              <div class="accordion-item border-t-0 border-l-0 border-r-0 !rounded-lg overflow-hidden !bg-sky-350 border border-sky-350">
                                    <h2 class="accordion-header mb-0" id="faqSingle3-heading">
                                          <button
                                                class="accordion-button relative flex items-center w-full py-4 px-5 text-base !text-white text-left bg-transparent border-0 !rounded-none transition focus:outline-none"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#faqSingle3-collapse" aria-expanded="false"
                                                aria-controls="faqSingle3-collapse">
                                                What is  an Agreement?
                                          </button>
                                    </h2>
                                    <div id="faqSingle3-collapse" class="accordion-collapse border-0 collapse text-white/80"
                                          aria-labelledby="faqSingle3-heading" data-bs-parent="#faqSingle3">
                                          <div class="accordion-body py-4 px-5">
                                                Placeholder content for this accordion, which is intended to
                                                demonstrate the <code>.accordion-flush</code> class. This is the
                                                first item's accordion body.
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>

            <div class="accordion accordion-flush  accordion-light grid grid-cols-2 gap-x-14 gap-y-8 items-start pb-20" id="faqsAccordion2">
                  <div class="accordion-item border-t-0 border-l-0 border-r-0 rounded-none bg-transparent border border-white">
                        <h2 class="accordion-header mb-0" id="faqAcc2-1-heading">
                              <button
                                    class="accordion-button relative flex items-center w-full py-4 px-5 text-base !text-white text-left bg-transparent border-0 rounded-none transition focus:outline-none"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#faqAcc2-1-collapse"
                                    aria-expanded="false" aria-controls="faqAcc2-1-collapse">
                                    What is Accession?
                              </button>
                        </h2>

                        <div id="faqAcc2-1-collapse" class="accordion-collapse border-0 collapse text-white/80" aria-labelledby="faqAcc2-1-heading" data-bs-parent="#faqsAccordion2">
                              <div class="accordion-body py-4 px-5">
                                    Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the
                                    first item's accordion body.
                              </div>
                        </div>
                  </div>

                  <div class="accordion-item border-l-0 border-r-0 rounded-none bg-transparent border border-gray-200">
                        <h2 class="accordion-header mb-0" id="faqAcc2-2-heading">
                              <button
                                    class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base !text-white text-left bg-transparent border-0 rounded-none transition focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#faqAcc2-2-collapse" aria-expanded="false" aria-controls="faqAcc2-2-collapse">
                                    What is Reservation?
                              </button>
                        </h2>
                        <div id="faqAcc2-2-collapse" class="accordion-collapse border-0 collapse text-white/80" aria-labelledby="faqAcc2-2-heading" data-bs-parent="#faqsAccordion2">
                              <div class="accordion-body py-4 px-5">
                                    Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the
                                    second item's accordion body. Let's imagine this being filled with
                                    some actual content.
                              </div>
                        </div>
                  </div>

                  <div class="accordion-item border-l-0 border-r-0 rounded-none bg-transparent border border-gray-200">
                        <h2 class="accordion-header mb-0" id="faqAcc2-3-heading">
                              <button
                                    class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base !text-white text-left bg-transparent border-0 rounded-none transition focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#faqAcc2-3-collapse" aria-expanded="false" aria-controls="faqAcc2-3-collapse">
                                    What are Full Powers?
                              </button>
                        </h2>
                        <div id="faqAcc2-3-collapse" class="accordion-collapse collapse text-white/80" aria-labelledby="faqAcc2-3-heading" data-bs-parent="#faqsAccordion2">
                              <div class="accordion-body py-4 px-5">
                                    Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the
                                    third item's accordion body. Nothing more exciting happening here in
                                    terms of content, but just filling up the space to make it look, at
                                    least at first glance, a bit more representative of how this would
                                    look in a real-world application.
                              </div>
                        </div>
                  </div>

                  <div class="accordion-item border-l-0 border-r-0 rounded-none bg-transparent border border-gray-200">
                        <h2 class="accordion-header mb-0" id="faqAcc2-4-heading">
                              <button
                                    class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base !text-white text-left bg-transparent border-0 rounded-none transition focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#faqAcc2-4-collapse" aria-expanded="false" aria-controls="faqAcc2-4-collapse">
                                    What is a Depositary?
                              </button>
                        </h2>
                        <div id="faqAcc2-4-collapse" class="accordion-collapse collapse text-white/80" aria-labelledby="faqAcc2-4-heading" data-bs-parent="#faqsAccordion2">
                              <div class="accordion-body py-4 px-5">
                                    Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the
                                    third item's accordion body. Nothing more exciting happening here in
                                    terms of content, but just filling up the space to make it look, at
                                    least at first glance, a bit more representative of how this would
                                    look in a real-world application.
                              </div>
                        </div>
                  </div>

                  <div class="accordion-item border-l-0 border-r-0 rounded-none bg-transparent border border-gray-200">
                        <h2 class="accordion-header mb-0" id="faqAcc2-5-heading">
                              <button
                                    class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base !text-white text-left bg-transparent border-0 rounded-none transition focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#faqAcc2-5-collapse" aria-expanded="false" aria-controls="faqAcc2-5-collapse">
                                    How can I check the status and the parties to a Treaty?
                              </button>
                        </h2>
                        <div id="faqAcc2-5-collapse" class="accordion-collapse collapse text-white/80" aria-labelledby="faqAcc2-5-heading" data-bs-parent="#faqsAccordion2">
                              <div class="accordion-body py-4 px-5">
                                    Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the
                                    third item's accordion body. Nothing more exciting happening here in
                                    terms of content, but just filling up the space to make it look, at
                                    least at first glance, a bit more representative of how this would
                                    look in a real-world application.
                              </div>
                        </div>
                  </div>

                  <div class="accordion-item border-l-0 border-r-0 rounded-none bg-transparent border border-gray-200">
                        <h2 class="accordion-header mb-0" id="faqAcc2-6-heading">
                              <button
                                    class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base !text-white text-left bg-transparent border-0 rounded-none transition focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#faqAcc2-6-collapse" aria-expanded="false" aria-controls="faqAcc2-6-collapse">
                                    What does Entry into  Force mean?
                              </button>
                        </h2>
                        <div id="faqAcc2-6-collapse" class="accordion-collapse collapse text-white" aria-labelledby="faqAcc2-6-heading" data-bs-parent="#faqsAccordion2">
                              <div class="accordion-body py-4 px-5">
                                    Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the
                                    third item's accordion body. Nothing more exciting happening here in
                                    terms of content, but just filling up the space to make it look, at
                                    least at first glance, a bit more representative of how this would
                                    look in a real-world application.
                              </div>
                        </div>
                  </div>
            </div>

      </div>

      <div class="absolute top-20 bottom-0 left-0 w-full bg-gradient-to-b from-sky-250 to-blue-950"></div>
</section>