<section class="page-section accordion-section-1">
      <div class="container mx-auto px-20 pt-10 pb-20">
            <div class="accordion accordion-flush grid grid-cols-2 gap-x-14 gap-y-8 items-start" id="faqsAccordion">
                  <div class="accordion-item border-t-0 border-l-0 border-r-0 rounded-none bg-white border border-gray-200">
                        <h2 class="accordion-header mb-0" id="faq-1-heading">
                              <button
                                    class="accordion-button relative flex items-center w-full py-4 px-5 text-base text-info text-left bg-white border-0 rounded-none transition focus:outline-none"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#faq-1-collapse"
                                    aria-expanded="false" aria-controls="faq-1-collapse">
                                    What is Accession?
                              </button>
                        </h2>

                        <div id="faq-1-collapse" class="accordion-collapse border-0 collapse" aria-labelledby="faq-1-heading" data-bs-parent="#faqsAccordion">
                              <div class="accordion-body py-4 px-5">
                                    Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the
                                    first item's accordion body.
                              </div>
                        </div>
                  </div>

                  <div class="accordion-item border-l-0 border-r-0 rounded-none bg-white border border-gray-200">
                        <h2 class="accordion-header mb-0" id="faq-2-heading">
                              <button
                                    class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-info text-left bg-white border-0 rounded-none transition focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#faq-2-collapse" aria-expanded="false" aria-controls="faq-2-collapse">
                                    What is Reservation?
                              </button>
                        </h2>
                        <div id="faq-2-collapse" class="accordion-collapse border-0 collapse" aria-labelledby="faq-2-heading" data-bs-parent="#faqsAccordion">
                              <div class="accordion-body py-4 px-5">
                                    Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the
                                    second item's accordion body. Let's imagine this being filled with
                                    some actual content.
                              </div>
                        </div>
                  </div>

                  <div class="accordion-item border-l-0 border-r-0 rounded-none bg-white border border-gray-200">
                        <h2 class="accordion-header mb-0" id="faq-3-heading">
                              <button
                                    class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-info text-left bg-white border-0 rounded-none transition focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#faq-3-collapse" aria-expanded="false" aria-controls="faq-3-collapse">
                                    What are Full Powers?
                              </button>
                        </h2>
                        <div id="faq-3-collapse" class="accordion-collapse collapse" aria-labelledby="faq-3-heading" data-bs-parent="#faqsAccordion">
                              <div class="accordion-body py-4 px-5">
                                    Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the
                                    third item's accordion body. Nothing more exciting happening here in
                                    terms of content, but just filling up the space to make it look, at
                                    least at first glance, a bit more representative of how this would
                                    look in a real-world application.
                              </div>
                        </div>
                  </div>

                  <div class="accordion-item border-l-0 border-r-0 rounded-none bg-white border border-gray-200">
                        <h2 class="accordion-header mb-0" id="faq-4-heading">
                              <button
                                    class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-info text-left bg-white border-0 rounded-none transition focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#faq-4-collapse" aria-expanded="false" aria-controls="faq-4-collapse">
                                    What is a Depositary?
                              </button>
                        </h2>
                        <div id="faq-4-collapse" class="accordion-collapse collapse" aria-labelledby="faq-4-heading" data-bs-parent="#faqsAccordion">
                              <div class="accordion-body py-4 px-5">
                                    Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the
                                    third item's accordion body. Nothing more exciting happening here in
                                    terms of content, but just filling up the space to make it look, at
                                    least at first glance, a bit more representative of how this would
                                    look in a real-world application.
                              </div>
                        </div>
                  </div>

                  <div class="accordion-item border-l-0 border-r-0 rounded-none bg-white border border-gray-200">
                        <h2 class="accordion-header mb-0" id="faq-5-heading">
                              <button
                                    class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-info text-left bg-white border-0 rounded-none transition focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#faq-5-collapse" aria-expanded="false" aria-controls="faq-5-collapse">
                                    How can I check the status and the parties to a Treaty?
                              </button>
                        </h2>
                        <div id="faq-5-collapse" class="accordion-collapse collapse" aria-labelledby="faq-5-heading" data-bs-parent="#faqsAccordion">
                              <div class="accordion-body py-4 px-5">
                                    Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the
                                    third item's accordion body. Nothing more exciting happening here in
                                    terms of content, but just filling up the space to make it look, at
                                    least at first glance, a bit more representative of how this would
                                    look in a real-world application.
                              </div>
                        </div>
                  </div>

                  <div class="accordion-item border-l-0 border-r-0 rounded-none bg-white border border-gray-200">
                        <h2 class="accordion-header mb-0" id="faq-6-heading">
                              <button
                                    class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-info text-left bg-white border-0 rounded-none transition focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#faq-6-collapse" aria-expanded="false" aria-controls="faq-6-collapse">
                                    What does Entry into  Force mean?
                              </button>
                        </h2>
                        <div id="faq-6-collapse" class="accordion-collapse collapse" aria-labelledby="faq-6-heading" data-bs-parent="#faqsAccordion">
                              <div class="accordion-body py-4 px-5">
                                    Placeholder content for this accordion, which is intended to
                                    demonstrate the <code>.accordion-flush</code> class. This is the
                                    third item's accordion body. Nothing more exciting happening here in
                                    terms of content, but just filling up the space to make it look, at
                                    least at first glance, a bit more representative of how this would
                                    look in a real-world application.
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>