<section class="feature-section-10">
      <div class="pl-20 flex">
            <div class="w-2/5 flex flex-col items-start pb-20">
                  <div class="mb-6 pb-6 border-b border-primary">
                        <h2 class="h5 text-white mb-3">Office of the Registrar of Treaties</h2>

                        <div class="leading-8 text-primary">
                              <p>316 Upper Hill Chambers</p>
                              <p>Tel: <a href="tel:+254 20 3318888">+254 20 3318888</a> </p>
                              <p>Email: <a href="mailto:info@mfa.go.ke">info@mfa.go.ke</a> </p>
                              <p>Website: <a href="www.mfa.go.ke ">www.mfa.go.ke </a> </p>
                              <p>Fax: +254-20-2240066/341935/344333 </p>
                              <p>Nairobi, Kenya</p>
                        </div>
                  </div>

            </div>
            <div class="w-3/5 bg-blue-950 p-16 pr-36">
                  <h2 class="text-white h1 mb-10">Write to Us</h2>
                  <form class="form-light">
                        <label class="block mb-8">
                              <input type="text" class="mt-0 block w-full px-0.5 bg-transparent border-0 border-b border-white/60 text-white focus:ring-0 focus:border-white placeholder:text-white/70 placeholder:text-xs placeholder:uppercase
                              " placeholder="Your Full Name">
                        </label>

                        <label class="block mb-8">
                              <input type="text" class="mt-0 block w-full px-0.5 bg-transparent border-0 border-b border-white/60 text-white focus:ring-0 focus:border-white placeholder:text-white/70 placeholder:text-xs placeholder:uppercase
                              " placeholder="Company Name">
                        </label>

                        <label class="block mb-8">
                              <input type="email" class="mt-0 block w-full px-0.5 bg-transparent border-0 border-b border-white/60 text-white focus:ring-0 focus:border-white placeholder:text-white/70 placeholder:text-xs placeholder:uppercase
                              " placeholder="Email Address">
                        </label>

                        <label class="block mb-8">
                              <select class="mt-0 block w-full px-0.5 bg-transparent border-0 border-b border-white/60 text-white/70 focus:ring-0 focus:border-white">
                                    <option>Subject</option>
                                    <option>Enquiry</option>
                                    <option>Complain</option>
                                    <option>Feedback</option>
                              </select>
                        </label>

                        <label class="block mb-12">
                              <textarea class="mt-0 block w-full px-0.5 bg-transparent border-0 border-b border-white/60 text-white focus:ring-0 focus:border-white placeholder:text-white/70 placeholder:text-xs placeholder:uppercase" placeholder="Message"></textarea>
                        </label>

                        
                        <button type="submit" class="btn-round border-0 bg-success text-white">
                              <i class="bi bi-arrow-right"></i>
                        </button>
                       

                        
                  </form>
            </div>
      </div>
</section>