<section class="page-section feature-section-14 relative z-40 -mt-20">
      <div class="container mx-auto px-20 relative z-10">

            <div class="bg-white p-16 rounded-3xl">
                  <div class="mb-10">
                        <a href="#" class="grid gap-x-4 grid-cols-[minmax(0,_auto)_1fr_minmax(0,_auto)]">
                              <span class="btn bg-light flex items-center">
                                    <img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="">
                              </span>

                              <div class="p-5 bg-light flex flex-col justify-center">
                                    <span class="text-xs text-info font-semibold uppercase block mb-1">163 Downloads</span>

                                    <span class="text-primary block font-semibold">Kenya's Treaty Practise and Procedure</span>

                              </div>

                              <span class="btn bg-light text-2xl flex items-center">
                                    <i class="bi bi-download"></i>
                              </span>
                        </a>
                  </div>
                  
                  <div class="mb-10">
                        <a href="#" class="grid gap-x-4 grid-cols-[minmax(0,_auto)_1fr_minmax(0,_auto)]">
                              <span class="btn bg-light flex items-center">
                                    <img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="">
                              </span>

                              <div class="p-5 bg-light flex flex-col justify-center">
                                    <span class="text-xs text-info font-semibold uppercase block mb-1">163 Downloads</span>

                                    <span class="text-primary block font-semibold">Kenya's Treaty Series</span>

                              </div>

                              <span class="btn bg-light text-2xl flex items-center">
                                    <i class="bi bi-download"></i>
                              </span>
                        </a>
                  </div>

                  <div class="mb-10">
                        <a href="#" class="grid gap-x-4 grid-cols-[minmax(0,_auto)_1fr_minmax(0,_auto)]">
                              <span class="btn bg-light flex items-center">
                                    <img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="">
                              </span>

                              <div class="p-5 bg-light flex flex-col justify-center">
                                    <span class="text-xs text-info font-semibold uppercase block mb-1">163 Downloads</span>

                                    <span class="text-primary block font-semibold">President's Report</span>

                              </div>

                              <span class="btn bg-light text-2xl flex items-center">
                                    <i class="bi bi-download"></i>
                              </span>
                        </a>
                  </div>

                  <div class="mb-10">
                        <a href="#" class="grid gap-x-4 grid-cols-[minmax(0,_auto)_1fr_minmax(0,_auto)]">
                              <span class="btn bg-light flex items-center">
                                    <img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="">
                              </span>

                              <div class="p-5 bg-light flex flex-col justify-center">
                                    <span class="text-xs text-info font-semibold uppercase block mb-1">163 Downloads</span>

                                    <span class="text-primary block font-semibold">Cabinet Secratary's Report</span>

                              </div>

                              <span class="btn bg-light text-2xl flex items-center">
                                    <i class="bi bi-download"></i>
                              </span>
                        </a>
                  </div>


                  <div>
                        <a href="#" class="grid gap-x-4 grid-cols-[minmax(0,_auto)_1fr_minmax(0,_auto)]">
                              <span class="btn bg-light flex items-center">
                                    <img src="@@webRoot/assets/imgs/content-images/pdf-icon.png" alt="">
                              </span>

                              <div class="p-5 bg-light flex flex-col justify-center">
                                    <span class="text-xs text-info font-semibold uppercase block mb-1">163 Downloads</span>

                                    <span class="text-primary block font-semibold">Parliament memoranda </span>

                              </div>

                              <span class="btn bg-light text-2xl flex items-center">
                                    <i class="bi bi-download"></i>
                              </span>
                        </a>
                  </div>
                
            </div>
            
      </div>

      <div class="absolute left-0 top-20 bottom-0 w-full bg-neutral-250"></div>
</section>