<section class="page-section pagination-section bg-neutral-250 pt-10">
      <div class="container mx-auto px-40">

            <div class="relative">
                   <ul class="pagination-list nav-tabs grid grid-flow-col auto-cols-max gap-3 items-center justify-center relative z-10">
                        <li class="nav-item">
                              <a href="#" class="active nav-link btn border-t border-transparent !text-gray-400 font-bold">01</a>
                        </li>
                        <li class="nav-item">
                              <a href="#" class="nav-link btn border-t border-transparent !text-gray-400 font-bold">02</a>
                        </li>
                        <li class="nav-item">
                              <a href="#" class="nav-link text-xs uppercase btn border-t border-transparent !text-primary font-bold flex items-center">Next <i class="bi bi-arrow-right ml-3"></i></a>
                        </li>
                  </ul>

                  <div class="absolute top-0 left-0 w-full h-px bg-neutral-350"></div>
                  </div>
           

      </div>
</section>