// Background Image Positions
.bg-img {
  @include bg-sizing;
  img {
    display: none;
    width: 100%;
  }
  &.bg-img-start {
    background-position: 0 center;
  }
  &.bg-img-end {
    background-position: 100% center;
  }
  &.bg-img-top {
    background-position: center 0;
  }
  &.bg-img-bottom {
    background-position: center 100%;
  }
}
