<section class="page-section feature-section-13 bg-neutral-250 pt-10">
      <div class="container mx-auto px-20">
            <div class="flex flex-col">
                  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                              <div class="rounded-2xl overflow-hidden">
                                    <table class="min-w-full">
                                          <thead class="bg-white border-b border-neutral-350">
                                                <tr>
                                                      <th scope="col"
                                                            class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-350">
                                                            Date
                                                      </th>
                                                      <th scope="col"
                                                            class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-350">
                                                            Treaty Name
                                                      </th>
                                                      <th scope="col"
                                                            class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-350">
                                                            Action
                                                      </th>
                                                     
                                                      <th scope="col"
                                                            class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-350">
                                                            Dignitary
                                                      </th>
                                                      <th scope="col"
                                                            class="text-xs uppercase text-gray-400 px-6 py-4 text-left">
                                                            Photo
                                                      </th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr class="bg-white border-b border-neutral-350">
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           12/03/2020 
                                                      </td>
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           Bamako Convention on the Ban of the Import into Africa and the Control of Transboundary 
Movement and Management of Hazardous Wastes within Africa 
                                                      </td>
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           Ratification
                                                      </td>
                                                      
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           H.E. Mr. Milenko Esteban Skoknic Tapia Ambassador Extraordinary and Plenipotentiary, Permanent Representative, Permanent Mission of Chile to the United Nations 
                                                      </td>
                                                      <td class="px-6 py-4 text-sm font-medium text-primary">
                                                           <figure class="w-52">
                                                                 <a href="@@webRoot/assets/imgs/content-images/gallery-sample-img.jpg" class="block js-photo-pop" title="H.E. Mr. Milenko Esteban Skoknic Tapia Ambassador Extraordinary and Plenipotentiary, Permanent Representative, Permanent Mission of Chile to the United Nations ">
                                                                        <img src="@@webRoot/assets/imgs/content-images/gallery-sample-img.jpg" alt="">
                                                                  </a>
                                                            </figure>
                                                      </td>
                                                </tr>

                                                <tr class="bg-white border-b border-neutral-350">
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           12/03/2020 
                                                      </td>
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           Protocol to the African Charter on Human And Peoples' Rights on the Establishment of an African Court on Human and Peoples' Rights
                                                      </td>
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           Ratification
                                                      </td>
                                                      
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           H.E. Mr. Jaime Hermida Castillo
Ambassador Extraordinary and Plenipotentiary, Permanent Representative, Permanent Mission of Nicaragua to the United Nations  
                                                      </td>
                                                      <td class="px-6 py-4 text-sm font-medium text-primary">
                                                           <figure class="w-52">
                                                                 <a href="@@webRoot/assets/imgs/content-images/gallery-sample-img-2.jpg" class="block js-photo-pop" title="H.E. Mr. Jaime Hermida Castillo
Ambassador Extraordinary and Plenipotentiary, Permanent Representative, Permanent Mission of Nicaragua to the United Nations ">
                                                                        <img src="@@webRoot/assets/imgs/content-images/gallery-sample-img-2.jpg" alt="">
                                                                  </a>
                                                            </figure>
                                                      </td>
                                                </tr>

                                                <tr class="bg-white border-b border-neutral-350">
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           12/03/2020 
                                                      </td>
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           Bamako Convention on the Ban of the Import into Africa and the Control of Transboundary 
Movement and Management of Hazardous Wastes within Africa 
                                                      </td>
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           Ratification
                                                      </td>
                                                     
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           H.E. Mr. Milenko Esteban Skoknic Tapia Ambassador Extraordinary and Plenipotentiary, Permanent Representative, Permanent Mission of Chile to the United Nations 
                                                      </td>
                                                      <td class="px-6 py-4 text-sm font-medium text-primary">
                                                           <figure class="w-52">
                                                                 <a href="@@webRoot/assets/imgs/content-images/gallery-sample-img.jpg" class="block js-photo-pop" title="H.E. Mr. Milenko Esteban Skoknic Tapia Ambassador Extraordinary and Plenipotentiary, Permanent Representative, Permanent Mission of Chile to the United Nations ">
                                                                        <img src="@@webRoot/assets/imgs/content-images/gallery-sample-img.jpg" alt="">
                                                                  </a>
                                                            </figure>
                                                      </td>
                                                </tr>

                                                <tr class="bg-white">
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           12/03/2020 
                                                      </td>
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           Protocol to the African Charter on Human And Peoples' Rights on the Establishment of an African Court on Human and Peoples' Rights
                                                      </td>
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           Ratification
                                                      </td>
                                                     
                                                      <td class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-350">
                                                           H.E. Mr. Jaime Hermida Castillo
Ambassador Extraordinary and Plenipotentiary, Permanent Representative, Permanent Mission of Nicaragua to the United Nations  
                                                      </td>
                                                      <td class="px-6 py-4 text-sm font-medium text-primary">
                                                           <figure class="w-52">
                                                                 <a href="@@webRoot/assets/imgs/content-images/gallery-sample-img-2.jpg" class="block js-photo-pop" title="H.E. Mr. Jaime Hermida Castillo
Ambassador Extraordinary and Plenipotentiary, Permanent Representative, Permanent Mission of Nicaragua to the United Nations ">
                                                                        <img src="@@webRoot/assets/imgs/content-images/gallery-sample-img-2.jpg" alt="">
                                                                  </a>
                                                            </figure>
                                                      </td>
                                                </tr>
                                       
                                          </tbody>
                                    </table>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>