<section class="feature-section-2">
      <div class="container mx-auto px-20 pb-24">
            <div class="grid grid-cols-2 gap-x-10 items-center">
                  <figure class="clip-path-1">
                        <img src="@@webRoot/assets/imgs/content-images/treaty-making.jpg" alt="">
                  </figure>
                  
                  <div class="text-primary font-semibold">
                        <header class="mb-4">
                              <h2>Treaties</h2>
                        </header>
                        
                        <div class="text-xl leading-8">
                               <p>The responsibility for treaty making, negotiation and conclusion of treaties involving the Republic of Kenya lies with the National Executive pursuant to section 4(1) of the Treaty Making & Ratification Act, 2012.</p>
                        </div>

                        <div class="text-base mt-8 pt-8 border-t border-primary">
                              <p>These functions are managed by the Ministry of Foreign Affairs through the Office of the Registrar of Treaties. </p>
                        </div>
                  </div>
            </div>
      </div>
</section>