<footer class="bg-dark">
      <div class="container mx-auto px-20 py-5">
            <div class="flex uppercase justify-between text-xs font-semibold">
                  <p class="text-white">&copy; 2020. All Rights Reserved. | Ministry of Foreign Affairs - Kenya</p>
                  <ul class="flex">
                        <li class="mr-5"><a href="#" class="text-white hover:text-white/80 transition">Privacy Policy</a></li>
                        <li class="mr-5"><a href="#" class="text-white hover:text-white/80 transition">Terms and Conditions</a></li>
                        <li class="mr-5"><a href="#" class="text-white hover:text-white/80 transition">Downloads</a></li>
                        <li><a href="#" class="text-white hover:text-white/80 transition">Archives</a></li>
                  </ul>
            </div>

      </div>
</footer>