<section class="header-nav-2-section">
      <div class="container mx-auto">
            <div class="bg-info h-1.5"></div>

            <div class="flex my-6">
                  <a href="#" class="top-logo">
                        <img src="@@webRoot/assets/imgs/design-assets/office-of-the-registrar-of-treaties-logo.png" alt="">
                  </a>

                  <ul class="main-nav ml-auto text-info transition uppercase text-sm font-semibold tracking-widest flex items-center ">
                        <li class="mr-5">
                              <a href="#">Overview</a>
                        </li>
                        <li class="mr-5">
                              <a href="#">Depository</a>
                        </li>
                        <li class="mr-5">
                              <a href="#">Treaty Tracker</a>
                        </li>
                        <li>
                              <a href="#">Treaty Events</a>
                        </li>
                  </ul>
            </div>
      </div>
</section>