<section class="page-section misc-section-1 bg-sky-450">
      <div class="container mx-auto px-20 py-8">
            <div class="grid grid-flow-col auto-cols-auto gap-x-16 items-center justify-center text-center text-white">
                  <div class="flex items-center">
                        <h2 class="h3">Connect with us</h2>
                        <ul class="ml-7 flex">
                               <li class="mr-2">
                                    <a href="#" class="btn-round w-10 h-10">
                                          <i class="fa-brands fa-linkedin-in"></i>
                                    </a>
                              </li>
                              <li class="mr-2">
                                    <a href="#" class="btn-round w-10 h-10">
                                          <i class="fa-brands fa-twitter"></i>
                                    </a>
                              </li>
                              <li>
                                    <a href="#" class="btn-round w-10 h-10">
                                          <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                              </li>
                        </ul>
                  </div>

                  <div class="flex items-center">
                        <h2 class="h3">Quick Support</h2>
                        <a href="tel:+254 20 3318888" class="flex items-center font-bold ml-7 text-xl">
                              <span class="btn-round w-10 h-10 mr-2 text-base">
                                    <i class="fa-solid fa-phone"></i>
                              </span>
                              +254 20 3318888
                        </a>
                  </div>
            </div>
      </div>
</section>