<section class="page-section quick-links-section bg-light">
      <div class="container mx-auto px-20 py-12">
            <div class="grid grid-flow-col auto-cols-auto justify-center text-center gap-x-20">
                  <nav>
                        <h2 class="h5 uppercase mb-3">About</h2>
                        <ul class="leading-8">
                              <li><a href="#" class="text-primary hover:text-primary/60 transition">Treaty Sections</a></li>
                              <li><a href="#" class="text-primary hover:text-primary/60 transition">FAQ</a></li>
                              <li><a href="#" class="text-primary hover:text-primary/60 transition">Website User Guide</a></li>
                              <li><a href="#" class="text-primary hover:text-primary/60 transition">Sitemap</a></li>
                        </ul>
                  </nav>

                  <nav>
                        <h2 class="h5 uppercase mb-3">Quick Links</h2>
                        <ul class="leading-8">
                              <li><a href="#" class="text-primary hover:text-primary/60 transition">Automated Subscription Services</a></li>
                              <li><a href="#" class="text-primary hover:text-primary/60 transition">Treaty Handbook</a></li>
                              <li><a href="#" class="text-primary hover:text-primary/60 transition">Final Clauses Handbook</a></li>
                              <li><a href="#" class="text-primary hover:text-primary/60 transition">Summary of Practice</a></li>
                              
                        </ul>
                  </nav>
                
                  <nav>
                        
                        <h2 class="h5 uppercase mb-3">Contact Us</h2>
                       
                        <div class="leading-8">
                              <p>316 Upper Hill Chambers</p>
                              <p>Tel: <a href="tel:+254 20 3318888">+254 20 3318888</a> </p>
                              <p>Email: <a href="mailto:info@mfa.go.ke">info@mfa.go.ke</a> </p>
                              <p>Website: <a href="www.mfa.go.ke ">www.mfa.go.ke </a> </p>
                              <p>Fax: +254-20-2240066/341935/344333 </p>
                              <p>Nairobi, Kenya</p>
                        </div>
                        
                        
                  </nav>
            </div>
      </div>
</section>