<section class="page-section accordion-section-1 relative z-40 -mt-20">
      <div class="container mx-auto px-20 relative z-10">
            <div class="bg-white px-16 py-10 rounded-3xl">
                  <div class="accordion accordion-flush" id="publicationsAccordion">
                        <div
                              class="accordion-item border-t-0 border-l-0 border-r-0 rounded-none bg-white border border-gray-200">
                              <h2 class="h3 accordion-header mb-0" id="publication-1-heading">
                                    <button
                                          class="accordion-button relative flex items-center w-full py-4 px-5 font-semibold !text-info text-left bg-white border-0 rounded-none transition focus:outline-none"
                                          type="button" data-bs-toggle="collapse"
                                          data-bs-target="#publication-1-collapse" aria-expanded="false"
                                          aria-controls="publication-1-collapse">
                                          Kenya's Treaty Series
                                    </button>
                              </h2>

                              <div id="publication-1-collapse" class="accordion-collapse border-0 collapse"
                                    aria-labelledby="publication-1-heading" data-bs-parent="#publicationsAccordion">
                                    <div class="accordion-body py-4 px-5">
                                          <div class="flex flex-col">
                                                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                                      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                                                            <div class="rounded-2xl overflow-hidden">
                                                                  <table class="min-w-full">
                                                                        <thead class="bg-neutral-200 border-b">
                                                                              <tr>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Treaty Name
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Date of Adoption
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Date of Entry Into Force
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Date of Ratification
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Thematic Area
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left">
                                                                                          Download
                                                                                    </th>
                                                                              </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                              <tr class="bg-neutral-100">
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          International Convention on
                                                                                          Maritime Search and Rescue,
                                                                                          1979
                                                                                          (SAR)
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          Agricultural & Environmental
                                                                                          Management Treaties
                                                                                    </td>

                                                                                    <td
                                                                                          class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                                                          <a href="#"><img
                                                                                                      src="@@webRoot/assets/imgs/content-images/pdf-icon.png"
                                                                                                      alt="Download"
                                                                                                      class="mx-auto"></a>
                                                                                    </td>
                                                                              </tr>
                                                                              <tr class="bg-white">
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          International Convention on
                                                                                          Maritime Search and Rescue,
                                                                                          1979
                                                                                          (SAR)
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          Agricultural & Environmental
                                                                                          Management Treaties
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                                                          <a href="#"><img
                                                                                                      src="@@webRoot/assets/imgs/content-images/pdf-icon.png"
                                                                                                      alt="Download"
                                                                                                      class="mx-auto"></a>
                                                                                    </td>
                                                                              </tr>
                                                                              <tr class="bg-neutral-100">
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          International Convention on
                                                                                          Maritime Search and Rescue,
                                                                                          1979
                                                                                          (SAR)
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          Agricultural & Environmental
                                                                                          Management Treaties
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                                                          <a href="#"><img
                                                                                                      src="@@webRoot/assets/imgs/content-images/pdf-icon.png"
                                                                                                      alt="Download"
                                                                                                      class="mx-auto"></a>
                                                                                    </td>
                                                                              </tr>
                                                                            
                                                                        </tbody>
                                                                  </table>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>

                        <div class="accordion-item border-l-0 border-r-0 rounded-none bg-white border border-gray-200">
                              <h2 class="h3 accordion-header mb-0" id="publication-2-heading">
                                    <button
                                          class="accordion-button collapsed relative flex items-center w-full py-4 px-5 font-semibold !text-info text-left bg-white border-0 rounded-none transition focus:outline-none"
                                          type="button" data-bs-toggle="collapse"
                                          data-bs-target="#publication-2-collapse" aria-expanded="false"
                                          aria-controls="publication-2-collapse">
                                          Cabinet Secretaries Reports on Treaties Ratified
                                    </button>
                              </h2>
                              <div id="publication-2-collapse" class="accordion-collapse border-0 collapse"
                                    aria-labelledby="publication-2-heading" data-bs-parent="#publicationsAccordion">
                                    <div class="accordion-body py-4 px-5">
                                          <div class="flex flex-col">
                                                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                                      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                                                            <div class="rounded-2xl overflow-hidden">
                                                                  <table class="min-w-full">
                                                                        <thead class="bg-neutral-200 border-b">
                                                                              <tr>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Treaty Name
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Date of Adoption
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Date of Entry Into Force
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Date of Ratification
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Thematic Area
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left">
                                                                                          Download
                                                                                    </th>
                                                                              </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                              <tr class="bg-neutral-100">
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          International Convention on
                                                                                          Maritime Search and Rescue,
                                                                                          1979
                                                                                          (SAR)
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          Agricultural & Environmental
                                                                                          Management Treaties
                                                                                    </td>

                                                                                    <td
                                                                                          class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                                                          <a href="#"><img
                                                                                                      src="@@webRoot/assets/imgs/content-images/pdf-icon.png"
                                                                                                      alt="Download"
                                                                                                      class="mx-auto"></a>
                                                                                    </td>
                                                                              </tr>
                                                                              <tr class="bg-white">
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          International Convention on
                                                                                          Maritime Search and Rescue,
                                                                                          1979
                                                                                          (SAR)
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          Agricultural & Environmental
                                                                                          Management Treaties
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                                                          <a href="#"><img
                                                                                                      src="@@webRoot/assets/imgs/content-images/pdf-icon.png"
                                                                                                      alt="Download"
                                                                                                      class="mx-auto"></a>
                                                                                    </td>
                                                                              </tr>
                                                                              <tr class="bg-neutral-100">
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          International Convention on
                                                                                          Maritime Search and Rescue,
                                                                                          1979
                                                                                          (SAR)
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          Agricultural & Environmental
                                                                                          Management Treaties
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                                                          <a href="#"><img
                                                                                                      src="@@webRoot/assets/imgs/content-images/pdf-icon.png"
                                                                                                      alt="Download"
                                                                                                      class="mx-auto"></a>
                                                                                    </td>
                                                                              </tr>
                                                                            
                                                                        </tbody>
                                                                  </table>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>

                        <div class="accordion-item border-l-0 border-r-0 rounded-none bg-white border border-gray-200">
                              <h2 class="h3 accordion-header mb-0" id="publication-3-heading">
                                    <button
                                          class="accordion-button collapsed relative flex items-center w-full py-4 px-5 font-semibold !text-info text-left bg-white border-0 rounded-none transition focus:outline-none"
                                          type="button" data-bs-toggle="collapse"
                                          data-bs-target="#publication-3-collapse" aria-expanded="false"
                                          aria-controls="publication-3-collapse">
                                          President's Reports on Treaty Implementation
                                    </button>
                              </h2>
                              <div id="publication-3-collapse" class="accordion-collapse collapse"
                                    aria-labelledby="publication-3-heading" data-bs-parent="#publicationsAccordion">
                                    <div class="accordion-body py-4 px-5">
                                          <div class="flex flex-col">
                                                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                                      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                                                            <div class="rounded-2xl overflow-hidden">
                                                                  <table class="min-w-full">
                                                                        <thead class="bg-neutral-200 border-b">
                                                                              <tr>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Treaty Name
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Date of Adoption
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Date of Entry Into Force
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Date of Ratification
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left border-r border-neutral-320">
                                                                                          Thematic Area
                                                                                    </th>
                                                                                    <th scope="col"
                                                                                          class="text-xs uppercase text-gray-400 px-6 py-4 text-left">
                                                                                          Download
                                                                                    </th>
                                                                              </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                              <tr class="bg-neutral-100">
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          International Convention on
                                                                                          Maritime Search and Rescue,
                                                                                          1979
                                                                                          (SAR)
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          Agricultural & Environmental
                                                                                          Management Treaties
                                                                                    </td>

                                                                                    <td
                                                                                          class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                                                          <a href="#"><img
                                                                                                      src="@@webRoot/assets/imgs/content-images/pdf-icon.png"
                                                                                                      alt="Download"
                                                                                                      class="mx-auto"></a>
                                                                                    </td>
                                                                              </tr>
                                                                              <tr class="bg-white">
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          International Convention on
                                                                                          Maritime Search and Rescue,
                                                                                          1979
                                                                                          (SAR)
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          Agricultural & Environmental
                                                                                          Management Treaties
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                                                          <a href="#"><img
                                                                                                      src="@@webRoot/assets/imgs/content-images/pdf-icon.png"
                                                                                                      alt="Download"
                                                                                                      class="mx-auto"></a>
                                                                                    </td>
                                                                              </tr>
                                                                              <tr class="bg-neutral-100">
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          International Convention on
                                                                                          Maritime Search and Rescue,
                                                                                          1979
                                                                                          (SAR)
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary whitespace-nowrap border-r border-neutral-320">
                                                                                          May 26, 2001
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-sm font-medium text-primary border-r border-neutral-320">
                                                                                          Agricultural & Environmental
                                                                                          Management Treaties
                                                                                    </td>
                                                                                    <td
                                                                                          class="px-6 py-4 text-2xl text-center font-medium text-primary">
                                                                                          <a href="#"><img
                                                                                                      src="@@webRoot/assets/imgs/content-images/pdf-icon.png"
                                                                                                      alt="Download"
                                                                                                      class="mx-auto"></a>
                                                                                    </td>
                                                                              </tr>
                                                                            
                                                                        </tbody>
                                                                  </table>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>

      <div class="absolute left-0 top-20 bottom-0 w-full bg-neutral-250"></div>
</section>